body{
    background-color: #323640;
    width: 100%;
    color: #ffffff;
}

button{
    background-color: #323640;
    border: none;
}

button:hover{
    transition: all 0.5s;
    transform: scale(1.1);
    
}

h5{
    font-size: 30px;
    font-weight: 800;
}

a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    scale: 1.1;
    color: #fff;
}

.container{
    padding: 0% 0%;
}


.header{
    text-align: center;
    line-height: 7rem;
}


.margin{
    margin: 10% 15%;
    text-align: center;
    background-color: #323640;
    border: none;
}

img{
    width: auto;
    height: auto;
    background-color: aliceblue;
    border-radius: 30%;
}


.cc{
    margin:auto;
    border-radius: 30%;
    align-items: center;
    background-color: aliceblue;
}

.img-div{
    background-color: #323640;
    position: relative;
}

.card-info{
    border-radius: 15%;
    background-color: #656A73;
    padding: 2% 2%;
}

.tittle{
    margin : 3% 0%;
    padding: 3% 3%;
    font-size: 4rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.card-title{
    font-family: 'Prompt', cursive;
}
.card-text{
    margin-top: 2rem;
    /* font-size: 2rem; */
    font-family: "Montserrat";
    color: #1A1E26;
    font-weight: 800;
}

.card-text:hover{
    transition: all 0.5s;
    font-weight: 600;
    transform: scale(1.1);
    color: #fff;
}

.timer{
    color: #000;
    font-weight: 600;
}

ion-icon{
    font-size: 32px;
    /* margin-left: 5%; */
}
